node_modules/
dist/
.env
/public/
/state/
/dev/public/*
!/dev/public/.gitkeep
/dev/state/*
!/dev/state/.gitkeep
/dev/hugo/content/posts/*.md
/dev/hugo/static/img/*
!dev/hugo/content/posts/.gitkeep
!dev/hugo/static/img/.gitkeep
/site/content/posts/*.md
/site/static/img/*
!site/content/posts/.gitkeep
!site/static/img/.gitkeep
.DS_Store
*.log
